<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>University Project</title>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Micro.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="/static/chart.js"></script>
    <script src="/static/chart2.js"></script>
    <script src="/static/chart3.js"></script>
    <script src="/static/chart4.js"></script>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div>
      <h1> Zewail City </h1>
      <div id="chartdiv">
        <h2> Paper Grades </h2>
      </div>
      <div id="chart2div">
        <h2> Student Major </h2>
      </div>
      <div id="chart3div"> 
        <h3> Profits </h3>
      </div>
      <div id="chart4div"> 
        <h3> Number of Students </h3>
      </div>
    </div>
  </body>
</html>
